<div *ngIf="hero">
  <h2 class="hero-name">{{ hero.name | uppercase }}</h2>
  <div class="hero-details">
    <div class="col-lg-3 hero-details-img">
      <img src="https://blzmedia-a.akamaihd.net/heroes/{{ heroz }}/bust.jpg" alt="{{ hero.name }}">
    </div>
    <div class="col-lg-9 hero-details-infos" [ngClass]="{
      'hero-details-infos-assa-bg': hero.role == 'Assassin',
      'hero-details-infos-warr-bg': hero.role == 'Warrior',
      'hero-details-infos-supp-bg': hero.role == 'Support',
      'hero-details-infos-spec-bg': hero.role == 'Specialist',
      'hero-details-infos-mult-bg': hero.role == 'Multiclass'
    }">
      <div>{{ hero.type + ' ' + hero.role | uppercase}}</div>


      <div class="abilities">

        <h3 [ngClass]="{
          'assa-bg': hero.role == 'Assassin',
          'warr-bg': hero.role == 'Warrior',
          'supp-bg': hero.role == 'Support',
          'spec-bg': hero.role == 'Specialist',
          'mult-bg': hero.role == 'Multiclass'
        }">ABILITIES</h3>

        <!-- BASIC ABILITIES -->
        <div class="row basics">

          <div class="col-sm-12 col-lg-4 mount">
            <img src="{{ !!abilityMount ? abilityMount.icon : './../../assets/icons/abilities/mounts/mount.png' }}" title="{{ !!abilityMount ? abilityMount.title + ' [ ' + abilityMount.hotkey + ' ]' + '\n' + '---' + '\n' + abilityMount.description : 'Mount Up [ Z ] \n --- \n' + 'While mounted heroes receive a 30% boost to their movement speed which allows them to cross the battleground or get to objectives quickly, however taking damage, attacking, or using an ability will dismount immediately preventing the use of mounts in combat.' }}" [ngClass]="{
              'assa-bd': hero.role == 'Assassin',
              'warr-bd': hero.role == 'Warrior',
              'supp-bd': hero.role == 'Support',
              'spec-bd': hero.role == 'Specialist',
              'mult-bd': hero.role == 'Multiclass'
            }">
          </div>

          <div class="col-lg-8" [ngClass]="{
            'hero-details-infos-assa-bg': hero.role == 'Assassin',
            'hero-details-infos-warr-bg': hero.role == 'Warrior',
            'hero-details-infos-supp-bg': hero.role == 'Support',
            'hero-details-infos-spec-bg': hero.role == 'Specialist',
            'hero-details-infos-mult-bg': hero.role == 'Multiclass'
          }">

              <!-- Q1 ABILITY -->
              <div class="ability-thumb">
                <ng-container *ngFor="let ability of basic">
                  <ng-container *ngIf="ability.hotkey === 'Q'">
                    <ng-container [ngSwitch]="true">
                      <!-- CHO + GALL -->
                      <img *ngSwitchCase="heroz === 'chogall' || heroz === 'greymane'"
                      class="ability-thumb-pic"
                      src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                      title="{{ ability.title }}"
                      >
                      <!-- VARIAN -->
                      <img *ngSwitchCase="heroz === 'varian'"
                      class="ability-thumb-pic"
                      src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/warrior/' + ability.titleLink + '.png' }}"
                      title="{{ ability.title }}"
                      >
                      <!-- ALL HEROES -->
                      <img *ngSwitchDefault
                      class="ability-thumb-pic"
                      src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                      >
                    </ng-container>
                    <!-- HOTKEY -->
                    <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                    <!-- LAYER -->
                    <img (mouseenter)="enterQ1()" (mouseleave)="leaveQ1()"
                    class="ability-thumb-layer"
                    src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                    >
                    <div id="ability-infos-q1" class="ability-thumb-hover">
                      <b>{{ ability.title }}</b> - <b>[ {{ !!ability.trait ? ability.trait : ability.hotkey }} ]</b><br/>
                      ---<br/>
                      <i>{{ ability.description }}</i>
                    </div>
                  </ng-container>
                </ng-container>
              </div>

              <!-- W1 ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of basic">
                    <ng-container *ngIf="ability.hotkey === 'W'">
                      <ng-container [ngSwitch]="true">
                        <!-- CHO + GALL -->
                        <img *ngSwitchCase="heroz === 'chogall' || heroz === 'greymane'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- VARIAN -->
                        <img *ngSwitchCase="heroz === 'varian'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/warrior/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- ALL HEROES -->
                        <img *ngSwitchDefault
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                        >
                      </ng-container>
                      <!-- HOTKEY -->
                      <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                      <!-- LAYER -->
                      <img (mouseenter)="enterW1()" (mouseleave)="leaveW1()"
                      class="ability-thumb-layer"
                      src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                      >
                      <div id="ability-infos-w1" class="ability-thumb-hover">
                        <b>{{ ability.title }}</b> - <b>[ {{ !!ability.trait ? ability.trait : ability.hotkey }} ]</b><br/>
                        ---<br/>
                        <i>{{ ability.description }}</i>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>

              <!-- E1 ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of basic">
                    <ng-container *ngIf="ability.hotkey === 'E'">
                      <ng-container [ngSwitch]="true">
                        <!-- CHO + GALL -->
                        <img *ngSwitchCase="heroz === 'chogall' || heroz === 'greymane'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- VARIAN -->
                        <img *ngSwitchCase="heroz === 'varian'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/warrior/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- ALL HEROES -->
                        <img *ngSwitchDefault
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                        >
                      </ng-container>
                      <!-- HOTKEY -->
                      <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                      <!-- LAYER -->
                      <img (mouseenter)="enterE1()" (mouseleave)="leaveE1()"
                      class="ability-thumb-layer"
                      src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                      >
                      <div id="ability-infos-e1" class="ability-thumb-hover">
                        <b>{{ ability.title }}</b> - <b>[ {{ !!ability.trait ? ability.trait : ability.hotkey }} ]</b><br/>
                        ---<br/>
                        <i>{{ ability.description }}</i>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="!abilityDefault">
                    <!-- ALL HEROES -->
                    <img
                    class="ability-thumb-pic"
                    src="./../../assets/icons/abilities/ability-default-01.png"
                    >
                    <!-- HOTKEY -->
                    <div class="hotkey">E</div>
                    <!-- LAYER -->
                    <img
                    class="ability-thumb-layer"
                    src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                    title="[ E ] Ability"
                    >
                  </ng-container>
                </div>

                <!-- HEROIC ABILITY -->
                <div class="ability-thumb">
                  <!-- ALL HEROES -->
                  <img
                  class="ability-thumb-pic"
                  src="https://psionic-storm.com/wp-content/themes/psionicstorm/img/icons/question-hexagon.png"
                  title="Pick"
                  >
                  <ng-container *ngIf="heroic">
                    <!-- HOTKEY -->
                    <div class="hotkey">{{ !!heroic[0].hotkey ? heroic[0].hotkey : 'R' | uppercase}}</div>
                    <!-- LAYER -->
                    <img (mouseenter)="enterR()" (mouseleave)="leaveR()"
                    class="ability-thumb-layer"
                    src="./../../assets/icons/abilities/ability-layer-heroic.png"
                    title=""
                    >
                    <div id="ability-infos-r" class="ability-thumb-hover">
                      Pick your Heroic Ability - [R]<br/><br/>
                      ---<br/><br/>
                      Choose from Talents pannel between :
                      <ng-container *ngFor="let ability of heroic">
                        <br/><br/><b>{{ ability.title }}</b>
                        <img class="ability-infos-pics" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ ability.titleLink }}.png" alt="">
                        <br/><i>{{ ability.description }}</i>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>



              <!-- TRAIT ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of basic">
                    <ng-container *ngIf="ability.trait === 'Trait' || ability.trait === true">
                      <ng-container [ngSwitch]="true">
                        <!-- CHO + GALL + GREYMANE -->
                        <ng-container>
                          <img *ngSwitchCase="heroz === 'chogall' || heroz === 'greymane'"
                          class="ability-thumb-pic"
                          src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                          >
                          <!-- HOTKEY -->
                          <div class="hotkey">{{ !!ability.hotkey ? ability.hotkey : ability.trait | uppercase}}</div>
                          <!-- LAYER -->
                          <img (mouseenter)="enterD()" (mouseleave)="leaveD()"
                          class="ability-thumb-layer"
                          src="./../../assets/icons/abilities/ability-layer-trait.png"
                          >
                          <div id="ability-infos-d" class="ability-thumb-hover">
                            <b>{{ ability.title }}</b> - <b>[ {{ !!ability.trait ? ability.trait : ability.hotkey }} ]</b><br/>
                            ---<br/>
                            <i>{{ ability.description }}</i>
                          </div>
                        </ng-container>
                        <!-- VARIAN -->
                        <ng-container *ngSwitchCase="heroz === 'varian'">
                          <img
                          class="ability-thumb-pic"
                          src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/warrior/' + ability.titleLink + '.png' }}"
                          title="{{ ability.title }}"
                          >
                          <!-- HOTKEY -->
                          <div class="hotkey">{{ !!ability.hotkey ? ability.hotkey : ability.trait | uppercase}}</div>
                          <!-- LAYER -->
                          <img
                          class="ability-thumb-layer"
                          src="./../../assets/icons/abilities/ability-layer-trait.png"
                          title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                          >
                        </ng-container>
                        <!-- KHARAZIM -->
                        <ng-container *ngSwitchCase="heroz === 'kharazim'">
                          <img
                          class="ability-thumb-pic"
                          src="https://psionic-storm.com/wp-content/themes/psionicstorm/img/icons/question-hexagon.png"
                          title="{{ ability.title }}"
                          >
                          <!-- HOTKEY -->
                          <div class="hotkey">{{ !!ability.hotkey ? ability.hotkey : ability.trait | uppercase}}</div>
                          <!-- LAYER -->
                          <img
                          class="ability-thumb-layer"
                          src="./../../assets/icons/abilities/ability-layer-trait.png"
                          title="Pick your trait &#10;--- &#10;Choose between Transcendence, Iron Fists, and Insight from the Talents panel."
                          >
                        </ng-container>
                        <!-- ALL HEROES -->
                        <ng-container *ngSwitchDefault>
                          <img
                          class="ability-thumb-pic"
                          src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                          >
                          <!-- HOTKEY -->
                          <div class="hotkey">{{ !!ability.hotkey ? ability.hotkey : ability.trait | uppercase}}</div>
                          <!-- LAYER -->
                          <img
                          class="ability-thumb-layer"
                          src="./../../assets/icons/abilities/ability-layer-trait.png"
                          title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                          >
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
          </div>
        </div>

        <!-- BEAST ABILITIES -->
        <div class="row beasts" *ngIf="hero.beast">

            <div class="col-sm-12 col-lg-4">
              <img src="{{ !!hero.beast ? './../../assets/icons/abilities/mode.png' : '' }}" title="Special Mode" [ngClass]="{
                'assa-bd': hero.role == 'Assassin',
                'warr-bd': hero.role == 'Warrior',
                'supp-bd': hero.role == 'Support',
                'spec-bd': hero.role == 'Specialist',
                'mult-bd': hero.role == 'Multiclass'
              }">
              <img src="{{ hero.beast }}" title="{{ hero.beastName }}">
            </div>

            <div class="col-lg-8" [ngClass]="{
              'hero-details-infos-assa-bg': hero.role == 'Assassin',
              'hero-details-infos-warr-bg': hero.role == 'Warrior',
              'hero-details-infos-supp-bg': hero.role == 'Support',
              'hero-details-infos-spec-bg': hero.role == 'Specialist',
              'hero-details-infos-mult-bg': hero.role == 'Multiclass'
            }">

              <!-- Q2 ABILITY -->
              <div class="ability-thumb">
                <ng-container *ngFor="let ability of beast">
                  <ng-container *ngIf="ability.hotkey === 'Q'">
                    <ng-container [ngSwitch]="true">
                      <!-- GREYMANE -->
                      <img *ngSwitchCase="heroz === 'chogall' || heroz === 'greymane'"
                      class="ability-thumb-pic"
                      src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                      title="{{ ability.title }}"
                      >
                      <!-- ALL HEROES -->
                      <img *ngSwitchDefault
                      class="ability-thumb-pic"
                      src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                      >
                    </ng-container>
                    <!-- HOTKEY -->
                    <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                    <!-- LAYER -->
                    <img
                    class="ability-thumb-layer"
                    src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                    title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                    >
                  </ng-container>
                </ng-container>
              </div>

              <!-- W2 ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of beast">
                    <ng-container *ngIf="ability.hotkey === 'W'">
                      <ng-container [ngSwitch]="true">
                        <!-- GREYMANE -->
                        <img *ngSwitchCase="heroz === 'greymane'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- ALL HEROES -->
                        <img *ngSwitchDefault
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                        >
                      </ng-container>
                      <!-- HOTKEY -->
                      <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                      <!-- LAYER -->
                      <img
                      class="ability-thumb-layer"
                      src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                      title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                      >
                    </ng-container>
                  </ng-container>
                </div>

              <!-- E2 ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of beast">
                    <ng-container *ngIf="ability.hotkey === 'E'">
                      <ng-container [ngSwitch]="true">
                        <!-- GREYMANE -->
                        <img *ngSwitchCase="heroz === 'greymane'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- ALL HEROES -->
                        <img *ngSwitchDefault
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                        >
                      </ng-container>
                      <!-- HOTKEY -->
                      <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                      <!-- LAYER -->
                      <img
                      class="ability-thumb-layer"
                      src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                      title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                      >
                    </ng-container>
                  </ng-container>
                </div>

              <!-- R3 ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of beast">
                    <ng-container *ngIf="ability.name === 'R3'">
                      <ng-container [ngSwitch]="true">
                        <!-- GREYMANE -->
                        <img *ngSwitchCase="heroz === 'greymane'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- VARIAN -->
                        <img *ngSwitchCase="heroz === 'varian'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/warrior/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- ALL HEROES -->
                        <img *ngSwitchDefault
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                        >
                      </ng-container>
                      <!-- HOTKEY -->
                      <div class="hotkey" *ngIf="ability.hotkey">{{ ability.hotkey }}</div>
                      <!-- LAYER -->
                      <img
                      class="ability-thumb-layer"
                      src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png"
                      title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                      >
                    </ng-container>
                  </ng-container>
                </div>

              <!-- TRAIT ABILITY -->
              <div class="ability-thumb">
                  <ng-container *ngFor="let ability of beast">
                    <ng-container *ngIf="ability.trait === 'Trait'">
                      <ng-container [ngSwitch]="true">
                        <!-- GREYMANE -->
                        <img *ngSwitchCase="heroz === 'greymane'"
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + hero.short_name + '/' + ability.titleLink + '.png' }}"
                        title="{{ ability.title }}"
                        >
                        <!-- ALL HEROES -->
                        <img *ngSwitchDefault
                        class="ability-thumb-pic"
                        src="{{ !!ability.icon ? ability.icon : 'https://blzmedia-a.akamaihd.net/heroes/' + heroz + '/abilities/icons/' + ability.titleLink + '.png' }}"
                        >
                      </ng-container>
                      <!-- HOTKEY -->
                      <div class="hotkey">{{ !!ability.hotkey ? ability.hotkey : ability.trait | uppercase }}</div>
                      <!-- LAYER -->
                      <img
                      class="ability-thumb-layer"
                      src="./../../assets/icons/abilities/ability-layer-trait.png"
                      title="{{ ability.title + ' - [' }} {{ !!ability.trait ? ability.trait : ability.hotkey }} {{ ']' + '\n' + '---' + '\n' + ability.description }}"
                      >
                    </ng-container>
                  </ng-container>
                </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="col-lg-12">Talents :</h3>
    <!-- LVL 1 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 1">
          <!-- HANZO TALENT BUG FIX -->
          <ng-container *ngIf="heroz === 'hanzo' && talent.sort === 3 ; else elseBlock">
            <img class="talent-thumb-pic" src="https://www.heroesfire.com/images/wikibase/icon/abilities/sonic-arrow.png" alt="1" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
          </ng-container>
          <!-- MAIN TALENT -->
          <ng-template #elseBlock>
            <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="1" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
          </ng-template>
        </div>
      </ng-container>
    </div>
    <!-- LVL 4 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 4">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="4" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 7 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 7">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="7" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 10 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 10">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="10" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 13 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 13">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="13" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 16 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 16">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="16" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 20 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 20">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.titleLink }}.png" alt="20" title="{{ talent.title + ' - [' + talent.ability + ']' + '\n' + '---' + '\n' + talent.description }}">
        </div>
      </ng-container>
    </div>
  </div>

</div>

<button (click)="goBack()">go back</button>
