<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <!-- <img src="{{ hero.avatar }}" alt="{{ hero.name }}"> -->
  <img src="https://blzmedia-a.akamaihd.net/heroes/{{ hero.short_name }}/bust.jpg" alt="{{ hero.name }}">
  <div>
    <span>Name: </span>{{hero.name}}</div>
  <div>
    <span>Attribute_id: </span>{{hero.attribute_id}}</div>
  <div>
    <span>Role: </span>{{hero.role}}</div>
  <div>
    <span>Type: </span>{{hero.type}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
  <!-- <div class="row">
    <h3 class="col-lg-12">Abilities :</h3>
    <ng-container *ngFor="let talent of hero.talents">
      <p class="col-lg-12"><img src="{{ talent.icon_url['64x64'] }}" alt="">{{ talent.name }}</p>
      <ng-container [ngSwitch]="talent[i]?.talents[i].sort">
        <img *ngSwitchCase="'2'" src="{{ talent[i].icon_url }}" alt="">
      </ng-container>
    </ng-container>
  </div> -->
  <div class="row">
    <h3 class="col-lg-12">Abilities :</h3>
    <!-- LVL 1 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 1">
          <img src="{{ talent.icon_url['64x64'] }}" alt="1" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 4 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 4">
          <img src="{{ talent.icon_url['64x64'] }}" alt="4" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 7 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 7">
          <img src="{{ talent.icon_url['64x64'] }}" alt="7" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 10 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 10">
          <img src="{{ talent.icon_url['64x64'] }}" alt="10" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 13 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 13">
          <img src="{{ talent.icon_url['64x64'] }}" alt="13" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 16 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 16">
          <img src="{{ talent.icon_url['64x64'] }}" alt="16" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 20 -->
    <div class="row">
      <ng-container *ngFor="let talent of hero.talents">
        <div class="col-lg-1" *ngIf="talent.level === 20">
          <img src="{{ talent.icon_url['64x64'] }}" alt="20" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
  </div>

</div>

<button (click)="save()">save</button>

<button (click)="goBack()">go back</button>
