<div *ngIf="hero">
  <h2 class="hero-name">{{ hero.name | uppercase }}</h2>
  <div class="hero-details row">
    <div class="col-lg-4 hero-details-img">
      <img src="https://blzmedia-a.akamaihd.net/heroes/{{ heroz }}/bust.jpg" alt="{{ hero.name }}">
    </div>
    <div class="col-lg-8 hero-details-infos" [ngClass]="{
      'hero-details-infos-assa-bg': hero.role == 'Assassin',
      'hero-details-infos-warr-bg': hero.role == 'Warrior',
      'hero-details-infos-supp-bg': hero.role == 'Support',
      'hero-details-infos-spec-bg': hero.role == 'Specialist',
      'hero-details-infos-mult-bg': hero.role == 'Multiclass'
    }">
      <div>
        <span>Name : </span>{{hero.name}}
      </div>
      <div>
        <span>Role : </span>{{hero.role}}
      </div>
      <div>
        <span>Type : </span>{{hero.type}}
      </div>
      <div>
        <span>Date : </span>{{ hero.release_date }}
      </div>
      <h3>Abilities : </h3>
      <div>
        <div class="row">
          <div class="col-lg-12">
            <div class="ability-thumb" *ngFor="let ability of abilities">
              <img class="ability-thumb-pic" src="https://blzmedia-a.akamaihd.net/heroes/{{ heroz }}/abilities/icons/{{ ability.title }}.png">
              <img class="ability-thumb-layer" src="https://eu.battle.net/heroes/static/images/heroes/ability-icon-frame_hover.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="col-lg-12">Talents :</h3>
    <!-- LVL 1 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 1">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="1" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 4 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 4">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="4" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 7 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 7">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="7" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 10 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 10">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="10" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 13 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 13">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="13" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 16 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 16">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="16" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
    <!-- LVL 20 -->
    <div class="row">
      <ng-container *ngFor="let talent of talents">
        <div class="col-lg-1" *ngIf="talent.level === 20">
          <img class="talent-thumb-pic" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Talents/{{ talent.title }}.png" alt="20" title="{{ talent.title }}">
        </div>
      </ng-container>
    </div>
  </div>

</div>

  <button (click)="goBack()">go back</button>
