@import '../../_variables.scss';

h2.hero-name {
  margin: 15px 0;
  padding: 10px 15px;
  font-size: 1.3rem;
  color: white;
  background-color: $blueLight;
}

.hero-details{
  color: white;

  .hero-details-img {

    > img {
      display: block;
      background: radial-gradient(circle at center, $blueDark 0%,darkslateblue 100%);
      padding: 5px;
      margin: 0 auto;
      width: 100%;
    }

  }

  .hero-details-infos {
    padding: 15px;
    // opacity: 0.7;

    div.ability-thumb {
      text-align: center;
      display: inline-block;
      position: relative;
      width: 16.66%;

      .ability-thumb-pic {
        width: 70%;
        height: auto;
      }

      .ability-thumb-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 70%;
        height: auto;
        transform: translateX(-50%);
      }

    }

    &-assa-bg {
      background: radial-gradient(circle at left, $assassin -100%,$blueDark 100%);
    }

    &-warr-bg {
      background: radial-gradient(circle at left, $warrior -100%,$blueDark 100%);
    }

    &-supp-bg {
      background: radial-gradient(circle at left, $support -100%,$blueDark 100%);
    }

    &-spec-bg {
      background: radial-gradient(circle at left, $specialist -100%,$blueDark 100%);
    }

    &-mult-bg {
      background: radial-gradient(circle at left, $multiclass -100%,$blueDark 100%);
    }

  }
}
