@import '../../_variables.scss';

h2.hero-name {
  margin: 15px 0;
  padding: 10px 15px;
  font-size: 1.3rem;
  color: white;
  background-color: $blueLight;
}

.hero-details{
  color: white;

  .hero-details-img {
    padding-left: 0;

    > img {
      display: block;
      background: radial-gradient(circle at center, $blueDark 0%,darkslateblue 100%);
      padding: 5px;
      margin: 0 auto;
      width: 100%;

    }

  }

  .hero-details-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    min-height: 388px;
    max-height: 388px;
    // background-color: red;
    // opacity: 0.7;

    .abilities {

      h3 {
        margin: 15px 0;
        padding: 10px 15px;
        font-size: 1rem;
      }

    }

    div.ability-thumb {
      position: relative;
      display: inline-block;
      margin-left: 8px;
      text-align: center;
      width: 15%;
      min-width: 102px;
      min-height: 115px;

      .ability-thumb-pic {
        width: 100%;
        height: auto;
      }

      .ability-thumb-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translateX(-50%);

      }

    }

    .basics > div > img,
    .beasts > div > img {
      display: block;
      // margin: 0 auto;
      width: auto;
      height: 115px;
    }

    .basics > div,
    .beasts > div {
      // background: radial-gradient(circle at right, $assassin -100%,$blueDark 100%);
      // border: 2px solid darkslateblue;
    }

    .basics > div + div,
    .beasts > div + div {
      // background: radial-gradient(circle at left, $support -100%,$blueDark 100%);
      // border: 2px solid darkslateblue;
    }

    .basics > div:first-of-type {
      position: relative;
      height: 115px;
    }

    .basics #basics-title {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 1.5rem;
      padding: 38.5px 16px;
      background-color: $blueDark;
    }

    .beasts {
      margin-top: 15px;
    }

    .ability {
      display: inline-block;
      background-color: green;
      width: 16.11%;
    }

    .hotkey {
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: 5px;
      width: 65%;
      font-weight: bold;
      background: rgba($color: #000000, $alpha: 0.6);
    }

    &-assa-bg {
      display: flex;
      background: radial-gradient(circle at left, $assassin -100%,$blueDark 100%);
    }

    &-warr-bg {
      display: flex;
      background: radial-gradient(circle at left, $warrior -100%,$blueDark 100%);
    }

    &-supp-bg {
      display: flex;
      background: radial-gradient(circle at left, $support -100%,$blueDark 100%);
    }

    &-spec-bg {
      display: flex;
      background: radial-gradient(circle at left, $specialist -100%,$blueDark 100%);
    }

    &-mult-bg {
      display: flex;
      background: radial-gradient(circle at left, $multiclass -100%,$blueDark 100%);
    }

    .assa-bg {
      background-color: $assassin;
    }

    .warr-bg {
      background-color: darken($warrior, 10%);
    }

    .supp-bg {
      background-color: darken($support, 10%);
    }

    .spec-bg {
      background-color: darken($specialist, 5%);
    }

    .mult-bg {
      background-color: $multiclass;
    }

  }

  .assa-bd {
    border: 2px solid $assassin;
  }

  .warr-bd {
    border: 2px solid $warrior;
  }

  .supp-bd {
    border: 2px solid $support;
  }

  .spec-bd {
    border: 2px solid $specialist;
  }

  .mult-bd {
    border: 2px solid $multiclass;
  }

}

.talent-thumb-pic {
  width: 66px;
  height: auto;
}
